<%= f.simple_fields_for :topics do |t| %>
    <div class="form-inputs">
      <%= t.input :number %>
      <%= t.input :title %>
      <%= t.input :video_count %>
      <%= t.hidden_field :_destroy %>
      <%= link_to "remove", "#", class: "remove_fields" %>
    </div>
  <% end %>